/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, c:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, c:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, c:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, c:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, c:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, c:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, c:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, c:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, c:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* font-family: "proximanova-regular"; */
@font-face {
  font-family: "proximanova-regular";
  src: url("../fonts/proximanova-regular.eot");
  src: url("../fonts/proximanova-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-regular.woff") format("woff"), url("../fonts/proximanova-regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* line 23, ../sass/screen.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

/*Changes colors
--------------------------------------------------------------------------*/
/* line 66, ../sass/screen.scss */
body {
  font: 12px/18px "proximanova-regular";
  color: #1C2534;
}

/* line 70, ../sass/screen.scss */
.wrapper {
  min-width: 970px;
  max-width: 1440px;
  margin: 0 auto;
}
/* line 75, ../sass/screen.scss */
.wrapper a {
  text-decoration: none;
}
/* line 79, ../sass/screen.scss */
.wrapper a:hover {
  text-decoration: underline;
}
/* line 82, ../sass/screen.scss */
.wrapper a:active, .wrapper a:focus {
  color: inherit;
}
/* line 86, ../sass/screen.scss */
.wrapper img {
  vertical-align: middle;
}

/* Header
-----------------------------------------------------------------------------*/
/* line 93, ../sass/screen.scss */
.header {
  height: 66px;
  background-color: #87B448;
  box-shadow: 0px 2px 0px 0px #71973C;
  margin-bottom: 2px;
  /* Firefox 19+ */
  /* Firefox 18- */
}
/* line 99, ../sass/screen.scss */
.header .header-inner {
  max-width: 970px;
  margin: 0 auto;
  height: 66px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  align-items: center;
  -webkit-box-align: center;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-align-content: center;
  align-content: center;
  text-align: left;
}
/* line 126, ../sass/screen.scss */
.header input {
  max-width: 388px;
  width: 100%;
  height: 34px;
  font-family: "proximanova-regular";
  background-color: #73993D;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  border: none;
  color: #ffffff;
  font-size: 15px;
  padding: 0 10px 0 38px;
  letter-spacing: 1.5px;
  position: relative;
  top: 1px;
}
/* line 142, ../sass/screen.scss */
.header .search {
  width: 455px;
  margin-right: 29px;
}
/* line 147, ../sass/screen.scss */
.header ::-webkit-input-placeholder {
  color: #ffffff;
}
/* line 148, ../sass/screen.scss */
.header ::-moz-placeholder {
  color: #ffffff;
}
/* line 149, ../sass/screen.scss */
.header :-moz-placeholder {
  color: #ffffff;
}
/* line 150, ../sass/screen.scss */
.header :-ms-input-placeholder {
  color: #ffffff;
}
/* line 152, ../sass/screen.scss */
.header .main-logo, .header .search, .header .informers, .header .user-name {
  display: inline-block;
}
/* line 156, ../sass/screen.scss */
.header a.user-name-link {
  color: #FEFEFE;
  font-size: 16px;
  vertical-align: middle;
  letter-spacing: 1.2px;
}
/* line 163, ../sass/screen.scss */
.header .main-logo img {
  position: relative;
  top: -2px;
  margin-right: 12px;
}
/* line 168, ../sass/screen.scss */
.header .informers {
  margin-right: 13px;
}

/* line 173, ../sass/screen.scss */
.icons {
  display: inline-block;
  background: url(../images/sprite.png) no-repeat;
  vertical-align: middle;
}

/* line 178, ../sass/screen.scss */
.icon-message {
  width: 26px;
  height: 22px;
  background-position: -111px -3px;
}

/* line 183, ../sass/screen.scss */
.icon-ring {
  width: 24px;
  height: 24px;
  background-position: -140px -3px;
}

/* line 188, ../sass/screen.scss */
.icon-search {
  width: 16px;
  height: 16px;
  background-position: -168px -3px;
  right: -30px;
  position: relative;
  vertical-align: middle;
  z-index: 1;
}

/* line 197, ../sass/screen.scss */
.icon-feed {
  width: 24px;
  height: 23px;
  background-position: -3px -3px;
}

/* line 202, ../sass/screen.scss */
.icon-Ask {
  width: 24px;
  height: 24px;
  background-position: -33px -3px;
}

/* line 207, ../sass/screen.scss */
.icon-Companies {
  width: 21px;
  height: 24px;
  background-position: -59px -3px;
}

/* line 212, ../sass/screen.scss */
.icon-Service-Directory {
  width: 19px;
  height: 24px;
  background-position: -84px -3px;
}

/* line 217, ../sass/screen.scss */
.informers-notices, .informers-messages {
  display: inline-block;
  position: relative;
  top: 4px;
  margin-right: 18px;
}

/* line 223, ../sass/screen.scss */
.user-name img {
  width: 32px;
  height: 32px;
  margin-right: 7px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}

/* Middle
-----------------------------------------------------------------------------*/
/* line 233, ../sass/screen.scss */
.middle {
  width: 100%;
  position: relative;
  max-width: 970px;
  margin: 0 auto;
}

/* line 239, ../sass/screen.scss */
.middle:after {
  display: table;
  clear: both;
  content: '';
}

/* line 244, ../sass/screen.scss */
.container {
  width: 100%;
  float: left;
  overflow: hidden;
}

/* line 249, ../sass/screen.scss */
.content {
  padding: 0 233px 50px 232px;
}
/* line 253, ../sass/screen.scss */
.content h2 {
  font-size: 30px;
  line-height: 30px;
  letter-spacing: 2.1px;
  margin-top: 12px;
  display: inline-block;
}
/* line 261, ../sass/screen.scss */
.content a.button-green {
  background-color: #87B448;
  color: #fff;
  padding: 6px 20.9px;
  font-size: 14px;
  letter-spacing: 1px;
  float: right;
  margin: 12px 21px 0 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 273, ../sass/screen.scss */
.content a.button-green:hover {
  background-color: #57821C;
}
/* line 277, ../sass/screen.scss */
.content a.service-name-link {
  color: #1C2534;
  font-size: 14px;
  display: inline-block;
  margin: 12.5px 0px;
  max-width: 120px;
  word-wrap: break-word;
  letter-spacing: 1px;
}

/* line 287, ../sass/screen.scss */
.services-wrap {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #E0E2E6;
  padding: 15px;
  margin-top: 20px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  align-items: flex-start;
  -webkit-box-align: flex-start;
  -webkit-flex-align: flex-start;
  -ms-flex-align: flex-start;
  -webkit-align-items: flex-start;
  -webkit-align-content: center;
  align-content: center;
  text-align: center;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 315, ../sass/screen.scss */
.services-wrap .service-item-inner {
  width: 138px;
  height: 138px;
  border: 1px solid #E0E2E6;
  vertical-align: middle;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  align-items: center;
  -webkit-box-align: center;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-align-content: center;
  align-content: center;
  text-align: center;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 343, ../sass/screen.scss */
.services-wrap .service-item-inner:hover {
  background-color: #F4F7FB;
}
/* line 346, ../sass/screen.scss */
.services-wrap .service-item:hover a.service-name-link {
  color: #71973C;
}

/* line 351, ../sass/screen.scss */
.services-wrap:hover {
  color: #71973C;
}

/* Left Sidebar
-----------------------------------------------------------------------------*/
/* line 360, ../sass/screen.scss */
.left-sidebar {
  float: left;
  width: 212px;
  margin-left: -100%;
  position: relative;
}
/* line 366, ../sass/screen.scss */
.left-sidebar .left-menu ul {
  display: block;
  margin-top: 1px;
  margin-bottom: 17px;
}
/* line 371, ../sass/screen.scss */
.left-sidebar .left-menu-list li a {
  vertical-align: middle;
  letter-spacing: 1.5px;
}
/* line 375, ../sass/screen.scss */
.left-sidebar .left-menu-list li {
  padding: 13px 0;
  border-bottom: 1px solid #E0E2E6;
}
/* line 379, ../sass/screen.scss */
.left-sidebar .left-menu-list li i {
  min-width: 24px;
  text-align: center;
  margin-right: 23px;
}
/* line 384, ../sass/screen.scss */
.left-sidebar .banner-info, .left-sidebar .banner-info a {
  color: #d3d3d3;
  padding-top: 2px;
  display: inline-block;
  letter-spacing: 1.4px;
  font-size: 11px;
}
/* line 391, ../sass/screen.scss */
.left-sidebar hr {
  color: #E0E2E6;
  background-color: #E0E2E6;
  height: 1px;
  border: none;
  margin: 14px 0 16px 0;
}
/* line 401, ../sass/screen.scss */
.left-sidebar .company-wrap {
  margin-bottom: 21px;
}
/* line 405, ../sass/screen.scss */
.left-sidebar .company-wrap a {
  display: inline-block;
}
/* line 408, ../sass/screen.scss */
.left-sidebar .company-wrap .company-img {
  float: left;
  margin-right: 10px;
}
/* line 413, ../sass/screen.scss */
.left-sidebar .company-wrap ul li {
  margin-bottom: 20px;
  min-height: 80px;
}
/* line 417, ../sass/screen.scss */
.left-sidebar .company-wrap .company-name {
  color: #1C2534;
  font-size: 16px;
  vertical-align: top;
  position: relative;
  top: -3px;
  letter-spacing: 1.5px;
  font-weight: 600;
}
/* line 427, ../sass/screen.scss */
.left-sidebar .company-wrap .company-desc {
  color: #7C8695;
  font-size: 14px;
  margin-bottom: 3px;
  letter-spacing: 1px;
}
/* line 433, ../sass/screen.scss */
.left-sidebar .company-wrap .company-adress {
  color: #7C8695;
  font-size: 14px;
  letter-spacing: 1px;
}
/* line 438, ../sass/screen.scss */
.left-sidebar .company-wrap .company-follow {
  color: #1C2534;
  font-size: 12px;
  letter-spacing: 1px;
}
/* line 443, ../sass/screen.scss */
.left-sidebar .company-wrap .company-img img {
  width: 80px;
  height: 80px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 449, ../sass/screen.scss */
.left-sidebar .company-wrap .company-img img:hover {
  -moz-box-shadow: 0 0 10px #B1B1B1;
  -o-transition: 0 0 10px #B1B1B1;
  -webkit-box-shadow: 0 0 10px #B1B1B1;
  box-shadow: 0 0 10px #B1B1B1;
}
/* line 456, ../sass/screen.scss */
.left-sidebar .copyrights {
  color: #B7BFCD;
  letter-spacing: 1px;
}
/* line 460, ../sass/screen.scss */
.left-sidebar .copyrights p {
  line-height: 14px;
}
/* line 463, ../sass/screen.scss */
.left-sidebar .copyrights a {
  font-size: 12px;
  color: #B7BFCD;
  margin-top: 12px;
  display: inline-block;
  margin-right: 14px;
}

/* line 473, ../sass/screen.scss */
.left-menu a, .right-sidebar a {
  color: #59606B;
  font-size: 16px;
}

/* line 477, ../sass/screen.scss */
.left-section-name, .right-section-name {
  color: #7C8695;
  font-size: 14px;
  margin-bottom: 15px;
  letter-spacing: 1.4px;
}

/* line 483, ../sass/screen.scss */
.left-section-name a, .right-section-name a {
  float: right;
  font-size: 14px;
  letter-spacing: 0.9px;
  font-weight: 600;
  color: #1C2534;
}

/* Right Sidebar
-----------------------------------------------------------------------------*/
/* line 493, ../sass/screen.scss */
.right-sidebar {
  float: left;
  width: 213px;
  margin-left: -213px;
  position: relative;
}
/* line 499, ../sass/screen.scss */
.right-sidebar .right-section-name {
  margin-top: 17px;
  letter-spacing: 1px;
}
/* line 504, ../sass/screen.scss */
.right-sidebar .people-may-know div {
  margin-bottom: 2px;
}
/* line 508, ../sass/screen.scss */
.right-sidebar .banner-info, .right-sidebar .banner-info a {
  color: #d3d3d3;
  padding-top: 2px;
  display: inline-block;
  letter-spacing: 1.4px;
  font-size: 11px;
}
/* line 515, ../sass/screen.scss */
.right-sidebar hr {
  color: #E0E2E6;
  background-color: #E0E2E6;
  height: 1px;
  border: none;
  margin: 14px 0 18px 0;
}
/* line 523, ../sass/screen.scss */
.right-sidebar .people-may-know {
  margin-bottom: 24px;
}
/* line 527, ../sass/screen.scss */
.right-sidebar .people-may-know a {
  display: block;
}
/* line 530, ../sass/screen.scss */
.right-sidebar .people-may-know .people-may-know-img {
  float: left;
  margin-right: 10px;
}
/* line 535, ../sass/screen.scss */
.right-sidebar .people-may-know ul li {
  margin-bottom: 22px;
  min-height: 100px;
}
/* line 539, ../sass/screen.scss */
.right-sidebar .people-may-know .people-may-know-name {
  color: #1C2534;
  font-size: 16px;
  vertical-align: top;
  position: relative;
  top: -3px;
  letter-spacing: 1.5px;
  font-weight: 600;
  display: inline-block;
}
/* line 550, ../sass/screen.scss */
.right-sidebar .people-may-know .people-may-know-desc {
  color: #7C8695;
  font-size: 14px;
  margin-bottom: 2px;
  letter-spacing: 1px;
  margin-left: 90px;
  position: relative;
  top: -2px;
}
/* line 559, ../sass/screen.scss */
.right-sidebar .people-may-know .people-may-know-adress {
  color: #7C8695;
  font-size: 14px;
  letter-spacing: 1px;
  margin-left: 90px;
}
/* line 565, ../sass/screen.scss */
.right-sidebar .people-may-know .people-may-know-add {
  color: #1C2534;
  font-size: 12px;
  letter-spacing: 1px;
  margin-left: 90px;
}
/* line 571, ../sass/screen.scss */
.right-sidebar .people-may-know .people-may-know-img img {
  width: 80px;
  height: 80px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 577, ../sass/screen.scss */
.right-sidebar .people-may-know .people-may-know-img img:hover {
  -moz-box-shadow: 0 0 10px #B1B1B1;
  -webkit-box-shadow: 0 0 10px #B1B1B1;
  box-shadow: 0 0 10px #B1B1B1;
}
/* line 586, ../sass/screen.scss */
.right-sidebar .featured-products a {
  display: block;
}
/* line 590, ../sass/screen.scss */
.right-sidebar .featured-products div {
  margin-bottom: 2px;
}
/* line 594, ../sass/screen.scss */
.right-sidebar .featured-products ul li {
  margin-bottom: 21px;
}
/* line 598, ../sass/screen.scss */
.right-sidebar .featured-products .featured-product-img {
  float: left;
  margin-right: 10px;
}
/* line 602, ../sass/screen.scss */
.right-sidebar .featured-products .featured-product-img img {
  width: 80px;
  height: 80px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 609, ../sass/screen.scss */
.right-sidebar .featured-products .featured-product-img img:hover {
  -moz-box-shadow: 0 0 10px #B1B1B1;
  -webkit-box-shadow: 0 0 10px #B1B1B1;
  box-shadow: 0 0 10px #B1B1B1;
}
/* line 615, ../sass/screen.scss */
.right-sidebar .featured-products .featured-product-name {
  color: #1C2534;
  font-size: 16px;
  vertical-align: top;
  position: relative;
  top: -3px;
  letter-spacing: 1.5px;
  font-weight: 600;
  display: inline-block;
}
/* line 626, ../sass/screen.scss */
.right-sidebar .featured-products .featured-product-desc {
  color: #7C8695;
  font-size: 14px;
  margin-bottom: 3px;
  letter-spacing: 1px;
  margin-left: 90px;
  line-height: 16px;
}

/* line 637, ../sass/screen.scss */
.right-sidebar .banner-info, .right-sidebar .banner-info a {
  color: #d3d3d3;
  padding-top: 2px;
  display: inline-block;
  letter-spacing: 1.4px;
  font-size: 11px;
}
